---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>KidsAid Tryllerne</title>
	</head>
	<body>
<!-- Navigation	-->

<!-- hero section -->

<!-- Video -->

<!-- 1. tekst boks -->

<!-- Statestik -->

<!-- 2. tekst boks -->

<!-- GIF -->

<!-- 3. tekst boks -->

<!-- donations boks -->

<!-- footer -->
 </body> 
</html>
