---
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import GulTekstboks from "../components/GulTekstboks.astro";
import CountUp from "../components/CountUp.astro";
import GroenTekstboks from "../components/GroenTekstboks.astro";
import BlaaTekstboks from "../components/BlaaTekstboks.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
		<title>KidsAid Tryllerne</title>
	</head>
	<body>
		<Nav />
		<Hero />
        <video src="https://anarikkelarsen.dk/kea/09_indhold_II/storopl%C3%B8sning_kidsaid_video.mp4" controls></video>
	<GulTekstboks/>
    <CountUp/>
    <GroenTekstboks/>
    <div class="gifDiv">
    <h1 class="gifTekst">KidsAid Tryllerne får mig til at føle</h1>
<img class="gif" src="https://anarikkelarsen.dk/kea/09_indhold_II/GIF3.0_crop.gif" alt="Beskrivelse af GIF" />
</div> 
<BlaaTekstboks/>
<Footer/>
</body> 
</html>

<style>

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    :root {
        --main-font: 'Montserrat', sans-serif;
    }
    body{
        background-color: #FDFDFD;
    }

    /* Desktop */
      body {
        font-family: var(--main-font);
    }

    h1 {
        font-weight: 700; 
        font-size: 2rem; 
    }

    p {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.6;
    }
    video{
        margin-top: 200px;
        max-width: 100%;
    }

    .gifDiv{
        margin-top: 200px;
    }
.gif {
    max-width: 50%; 
    height: auto; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gifTekst {
    text-align: center;
    font-size: 4rem;
}

    /* Mobil */

</style>

<script>
    window.addEventListener("scroll", onScroll);

    function onScroll(){
        let winScroll = document.body.scrollTop | |  document.documentElement.scrollTop;
        let height = document.documentElement.scrollHeight - document.documentElement;
        let scrolled = (winScroll/height)* 100;
        document.getElementById("progressBar").style.width = scrolled + "%";
    }
</script>