---

---
    <div class="box3">
        <div class="blaa_boks">
            <div class="overlap-group">
                <img class="blueblob" src="/public/gallery/blueblob.svg" alt="Blå blob">
                <img class="image" src="/public/gallery/galla_billede.svg" alt="Galla">
                <p class="endnu-en-gang-tak">
                       ”Tusind tak til KidsAid for at have givet Fie og os som familie nogle dejlige dage i Lalandia. Fie er en rigtig vandhund og elsker at bade. Vi boede i en hytte helt tæt på centret, så Fie nemt kunne komme hjem i hytten og holde de nødvendige pauser fra omverdenen. Vi har nydt at være sammen og hygge os uden bekymringer om hverdagen med Fies handicaps.”<br><br>
Gitte Christiansen, mor til Fie med Triple X Syndrom og Epilepsi.
                </p>
                <div class="text-wrapper">“</div>
            </div>
        </div>
    </div>

<style>
    /**** Desktop *****/
    .box3 {
        width: 1295px;
        height: 763px;
        margin-top: 200px;
    }

    .box3 .blaa-boks {
        position: fixed;
        width: 1299px;
        height: 763px;
        top: 0;
        left: 0;
    }

    .box3 .overlap-group {
        position: relative;
        width: 1295px;
        height: 763px;
    }

    .box3 .image {
        position: absolute;
        width: 578px;
        height: 515px;
        top: 53px;
        left: 0;
    }

    .box3 .blueblob {
        position: absolute;
        width: 865px;
        height: 763px;
        top: 0;
        left: 430px;
        object-fit: cover;
    }

    .box3 .endnu-en-gang-tak {
        position: absolute;
        width: 580px;
        top: 185px;
        left: 621px;
        font-size: 24px;
        letter-spacing: 0;
        line-height: normal;
    }

    .box3 .text-wrapper {
        position: absolute;
        width: 84px;
        top: 517px;
        left: 837px;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
        font-size: 8rem;
    }

    /**** Mobil *****/
    @media (max-width: 768px) {
        .box3 {
            width: 100%;
            height: auto;
            padding: 20px;
            box-sizing: border-box;
        }

        .box3 .overlap-group {
            width: 100%;
            height: auto;
        }

        .box3 .image {
            width: 100%;
            height: auto;
            top: 0;
            left: 0;
            position: relative;
        }

        .box3 .yellowblob {
            width: 100%;
            height: auto;
            top: 0;
            left: 0;
            position: relative;
            object-fit: contain;
            margin-top: 20px;
        }

        .box3 .endnu-en-gang-tak {
            width: 100%;
            position: relative;
            top: 0;
            left: 0;
            font-size: 18px;
            margin-top: 20px;
            text-align: center;
        }

        .box3 .text-wrapper {
            width: auto;
            position: relative;
            top: 0;
            left: 0;
            font-size: 80px;
            text-align: center;
            margin: 10px auto;
        }
    }
</style>
