<button class="doner_knap">Doner til KidsAid</button>

<style>
     .doner_knap {
        background-color: #FF6B35; /* Orange farve */
        padding: 10px 20px;
        border: none;
        border-radius: 10px; /* Giver afrundede hjørner */
        cursor: pointer;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Let skygge */
        transition: background-color 0.3s;
                font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.6;
        color: black;
        margin-top: 100px;
        margin-left:200px ;
    }

    .doner_knap:hover {
        background-color: #E65A28; /* Mørkere orange ved hover */
    }
</style>