---

---

<button class="doner_knap">Doner til KidsAid</button>

<style>
  .doner_knap {
    display: block;
    margin: 10px auto;
    margin-bottom: 50px;
    background-color: #ff6b35;
    padding: 10px 35px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.8;
    color: black;
    font-weight: bold;
  }

  .doner_knap:hover {
    background-color: #e65a28;
  }
</style>
