---

---

<div class="footer">
    <img class="logo_footer" src="https://kidsaid.dk/wp-content/uploads/2020/12/KidsAid_Logo_Negative.png" alt="KidsAid Logo" class="logo">

    <div class="omOs">
<h4>Om os</h4>
    <p><a href="https://kidsaid.dk/nyheder/">Nyheder</a></p>
    <p><a href="https://kidsaid.dk/ambassadoerer/">KidsAid Ambassadører</a></p>
    <p><a href="https://kidsaid.dk/om-kidsaid/organisationen/">KidsAid Organisation</a></p>
    </div>

    <div class="kontaktInfo">
        <h4>Kontakt information</h4>
            <p>Emma Iben Rosenkrantz Holm:<br>
      <a href="mailto:eb@kidsaid.dk">Eb@kidsaid.dk</a><br>
      Tlf.: +45 2025 1987
    </p>
    </div>

    <div class="socialeMedier">
              <a href="https://www.instagram.com/kidsaiddk/" target="_blank" aria-label="Instagram">
        <img src="https://kidsaid.dk/wp-content/uploads/2022/04/KidsAid__0002_instagram.png" alt="Instagram">
      </a>
      <a href="https://www.facebook.com/KidsAidDanmark/" target="_blank" aria-label="Facebook">
        <img src="https://kidsaid.dk/wp-content/uploads/2022/04/KidsAid__0001_facebook.png" alt="Facebook">
      </a>
      <a href="https://www.linkedin.com/company/kidsaiddanmark/" target="_blank" aria-label="LinkedIn">
        <img src="https://kidsaid.dk/wp-content/uploads/2022/04/KidsAid__0000_linkedin.png" alt="LinkedIn">
      </a>
    </div>

  <div class="regnskab">
    <h4>Regnskaber</h4>
    <p><a href="https://kidsaid.dk/wp-content/uploads/2023/06/Overskudserklaering-underskrevet.pdf">Overskudserklæring 2021</a></p>
    <p><a href="https://kidsaid.dk/wp-content/uploads/2023/04/KidsAid-Ledelsesberetning-2022.pdf">Ledelsesberetning 2022</a></p>
    <p><a href="https://kidsaid.dk/wp-content/uploads/2024/08/Indsamlingsregnskab-signed.pdf" target="_blank">Indsamlingsregnskab 2023</a></p>
    <p><a href="https://kidsaid.dk/wp-content/uploads/2023/04/KidsAid-Årsrapport-2022.pdf" target="_blank">Årsrapport 2022</a></p>
  </div>
</div>


<style>

.footer {
  max-width: 1248px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2%;
  padding: 20px;
  background-color: black;
}


/* Logo Styling */
.logo_footer {
  max-width: 220px;
}

/* Section Headings */
h4 {
  font-family: Montserrat, sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: pink;
  margin: 10px 0;
}

/* Links */
p a {
  color: pink;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  margin: 5px 0;
}

/* Social Links */
.social-links img {
  width: 40px;
  margin: 0 10px;
  aspect-ratio: 1 / 1;
}

/* Responsive Styling */
@media (max-width: 1024px) {
  .column {
    flex: 1 1 100%;
  }
}

@media (max-width: 640px) {
  .social-links img {
    margin-bottom: 15px;
  }
}

</style>