---
import DonerKnap from "./DonerKnap.astro";
---

<section class="hero">
  <div class="logo-container">
    <img class="logo" src="./gallery/logo.svg" alt="logo" />
  </div>
  <div class="image-container">
    <img class="hero_billede" src="./gallery/nyt.svg" alt="hero_billede" />
  </div>
  <div class="text-container">
    <p>Vi laver Unikke Oplevelser på og udenfor hospitalerne for de syge, deres søskende og deres forældre, så de husker at grine og have det sjovt – sammen.</p>
  </div>
  <div class="button-container">
    <DonerKnap />
  </div>
</section>

<style>
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }

  .hero {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #c9e4ff;
    gap: 20px;
  }

  /****** Mobil layout ******/
  .logo-container,
  .image-container,
  .text-container,
  .button-container {
    grid-column: 1;
  }
  .logo-container,
  .logo {
    width: 250px;
    margin: 0 auto;
  }

  .hero_billede {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .text-container p {
    font-size: 1rem;
    line-height: 1.4;
    margin: 25px;
    max-width: 40ch;
  }

  .button-container {
    text-align: center;
  }

  /****** Desktop ******/
  @media (min-width: 769px) {
    .hero {
      grid-template-columns: 1fr 1.5fr;
      align-items: center;
      text-align: left;
    }

    .logo-container,
    .text-container,
    .button-container {
      grid-column: 1;
    }

    .image-container {
      grid-column: 2;
      margin-top: 50px;
    }

    .logo {
      margin: 0;
      position: relative;
      top: -150px;
      margin-left: -80px;
    }

    .text-container p {
      max-width: 50ch;
      position: relative;
      top: -400px;
      margin-left: 95px;
    }
    .button-container {
      text-align: left;
      margin-top: -600px;
      margin-left: 70px;
    }

    .hero_billede {
      max-width: 100%;
      height: auto;
      object-fit: cover;
      margin-left: auto;
      display: block;
    }
  }
</style>
